@import "tailwindcss";

@theme {
  --font-sans: 'Poppins', ui-sans-serif, system-ui, sans-serif;
  --color-webchat-blue: #355b8e;
  --color-ai-blue: #6587bc;
  --color-icon-blue: #2374d3;
  --max-width-8xl: 96rem;
}


.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}